#!/usr/bin/env bash

SCRIPT_DIR="$( cd "$( echo "${BASH_SOURCE[0]%/*}" )" && pwd )"

# Activate environment
source "$SCRIPT_DIR/activate"

echo "Starting VOLTTRON with rotating file logging in the background"
exec volttron --log-config "{{ volttron_log_config }}" > /dev/null 2>&1 &
disown
